@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


@layer base {
  body {
    font-family: "Sansation", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(148, 148, 148);
  }
}

.fontAnton {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
