@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


@layer base {
  body {
    font-family: "Sansation", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(148, 148, 148);
  }
}

.fontAnton {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 25s linear infinite;
}

/* Optional: Pause on hover */
.animate-marquee:hover {
  animation-play-state: paused;
}


.scrollbar-hide {
    /* For IE and Edge */
    -ms-overflow-style: none; 
    /* For Firefox */
    scrollbar-width: none; 
}

/* For Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}